.Home{
    height: 100%;
    background-color: #FAFAFA;
}
.startGame{
    margin-left: 10px;
}
.rowTwo{
    height: 70%;
    display: flex;
    justify-content: center;
}
.rowThree{
    height: 30%;
}
.quizGame{
    margin-top: 7%;
    font-size: 140px;
    color: #A4A4A4;
}
.btn{
    color: black;
    background-color: #A4A4A4;
    font-size: 50px;
    border-radius: 40px;
    border: none;
    height: 20vh;
    width: 40vw;
}
.btn:hover{
    background-color: #A4A4A4;
    color: white;
    border: none;
}
.footer{
    color: black;
}
