#Reply{
    height: 100%;
    background-color: #FAFAFA;
}
.startGame{
    margin-left: 10px;
    width: 40vw;
}
.replyQuizGame{
    font-size: 5.7rem;
    color: #A4A4A4;
    display: flex;
}
.rowReplyOne{
    margin-top: 0;
    height: 20%;
}
.rowReplyTwo{
    height: 70%;
}
.footer{
    color: black;
}
.columnReplyOne{
    display: flex;
    justify-content: center;
}
.card{
    background-color: #3F0DCA;
    height: 100%;
    border-radius: 50px;
    box-shadow: 5px 5px #e3dede;
}
.buttonReply {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}
.button{
    background-color: #A4A4A4;
    width: 30rem;
    height: 5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
}
.button:hover{
    color: white;
}
.Reply{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 75%;
    width: 100%;
}
